Repository b1017173/Hometoku, pull requests merged in 2021-06, with the labels that each got.

#12 ショートカットを踏むとモーダルが表示される機能の追加
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/shortcut.py
  src/main.py
Labels: Python, enhancement

#15 モーダルの送信ボタンを押した時のリスナーを実装
  .DS_Store
  .gitignore
  .vscode/settings.json
  data/modal.json
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/shortcut.py
  src/main.py
Labels: Python, design, enhancement

#20 DEVELOP復活の儀式を始める！！！！！！！1
  src/app_server/__pycache__/modal.cpython-39.pyc
  src/app_server/modal.py
  src/main.py
Labels: Python, design, enhancement

#28 Homeタブへのヘルプ表示の実装
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/modal.cpython-39.pyc
  src/app_server/__pycache__/positiveWord.cpython-39.pyc
  src/app_server/home.py
  src/app_server/positiveWord.py
  src/app_server/positive_phrase.py
  src/main.py
Labels: Python, design, documentation, enhancement

#31 引っ張ってくる情報の追加
  src/app_server/__pycache__/home.cpython-39.pyc
  src/main.py
Labels: Database, MySQL, Python, enhancement

#40 ヘルプの魔改造
  data/ failure.json
  data/success.json
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/modal.cpython-39.pyc
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/__pycache__/update_channel.cpython-39.pyc
  src/app_server/home.py
  src/app_server/shortcut.py
  src/app_server/update_channel.py
  src/main.py
Labels: Database, Json, Python, enhancement, refactoring

#42 /hometoku_update_channelの実装
  src/app_server/__pycache__/home.cpython-36.pyc
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/modal.cpython-36.pyc
  src/app_server/__pycache__/modal.cpython-39.pyc
  src/app_server/__pycache__/set_channel.cpython-36.pyc
  src/app_server/__pycache__/set_channel.cpython-39.pyc
  src/app_server/__pycache__/shortcut.cpython-36.pyc
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/__pycache__/update_channel.cpython-36.pyc
  src/app_server/__pycache__/update_channel.cpython-39.pyc
  src/app_server/update_channel.py
  src/main.py
Labels: Python, enhancement

#37 MySQLとPython間のデータの受け渡しができるようになったよ
  requirements.txt
  src/__pycache__/connect_mysql.cpython-38.pyc
  src/app_server/__pycache__/home.cpython-38.pyc
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/modal.cpython-38.pyc
  src/app_server/__pycache__/shortcut.cpython-38.pyc
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/__pycache__/update_channel.cpython-38.pyc
  src/app_server/__pycache__/update_channel.cpython-39.pyc
  src/app_server/update_channel.py
  src/database/__pycache__/connect_mysql.cpython-39.pyc
  src/database/connect_mysql.py
  src/main.py
Labels: Database, MySQL

#45 DB連携を完璧にこなす男の軌跡
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/__pycache__/update_channel.cpython-39.pyc
  src/app_server/home.py
  src/app_server/shortcut.py
  src/app_server/update_channel.py
  src/database/__pycache__/connect_mysql.cpython-39.pyc
  src/database/connect_mysql.py
  src/main.py
Labels: Database, MySQL, Python, enhancement
