Repository b1017173/Hometoku, pull requests merged in 2021-07, with the labels that each got.

#47 gifのURLをランダムで返す関数の実装
  src/app_server/__pycache__/home.cpython-36.pyc
  src/app_server/__pycache__/positive_phrase.cpython-36.pyc
  src/app_server/__pycache__/random_contents.cpython-36.pyc
  src/app_server/__pycache__/send.cpython-36.pyc
  src/app_server/__pycache__/shortcut.cpython-36.pyc
  src/app_server/__pycache__/update_channel.cpython-36.pyc
  src/app_server/random_contents.py
  src/app_server/send.py
  src/database/__pycache__/connect_mysql.cpython-36.pyc
Labels: Python, enhancement

#49 Issue45 メッセージの装飾&その他諸々の修正・追加
  .gitignore
  src/__pycache__/connect_mysql.cpython-38.pyc
  src/__pycache__/connect_mysql.cpython-39.pyc
  src/__pycache__/sendJson.cpython-36.pyc
  src/app_server/__pycache__/home.cpython-39.pyc
  src/app_server/__pycache__/monthly_ranking.cpython-39.pyc
  src/app_server/__pycache__/random_contents.cpython-39.pyc
  src/app_server/__pycache__/send.cpython-39.pyc
  src/app_server/__pycache__/shortcut.cpython-39.pyc
  src/app_server/__pycache__/update_channel.cpython-39.pyc
  src/app_server/message_contents.py
  src/app_server/random_contents.py
  src/app_server/send.py
  src/app_server/shortcut.py
  src/app_server/update_channel.py
  src/database/__pycache__/connect_mysql.cpython-36.pyc
  src/database/__pycache__/connect_mysql.cpython-39.pyc
  src/database/connect_mysql.py
  src/main.py
Labels: Python, design, enhancement

#50 ついに稼働…！
  .gitignore
  .vscode/settings.json
  data/ failure.json
  data/positive_word.txt
  data/success.json
  requirements.txt
  src/app_server/home.py
  src/app_server/message_contents.py
  src/app_server/monthly_ranking.py
  src/app_server/send.py
  src/app_server/shortcut.py
  src/app_server/update_channel.py
  src/database/connect_mysql.py
  src/main.py
Labels: Database, Json, MySQL, Python, Time, design, documentation, enhancement, good first issue, icon

#53 俺たちの集大成!!!!!!!!!!!
  data/ failure.json
  data/positive_word.txt
  data/success.json
  src/app_server/message_contents.py
  src/app_server/update_channel.py
  src/database/__pycache__/connect_mysql.cpython-36.pyc
  src/database/connect_mysql.py
Labels: Python, design, enhancement, http

#55 俺たちの集大成、mainにマージ!!!!!
  data/ failure.json
  data/positive_word.txt
  data/success.json
  src/app_server/message_contents.py
  src/app_server/update_channel.py
  src/database/__pycache__/connect_mysql.cpython-36.pyc
  src/database/connect_mysql.py
Labels: bug, design, enhancement
